#nprogress .bar {
  background: #32a8a6 !important;
}
/* 
.slick-slide {
  margin: 0 8px;
} */

.slick-slide{
  margin-left:  15px;
  margin-right:  15px;
}

.slick-list {
  margin-left: -15px;
  margin-right: -15px;
  pointer-events: none;
}